* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

header {
    background: white;
    padding: 20px;
    margin-bottom: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

.dashboard {
    display: grid;
    grid-template-columns:
        repeat(4, 1fr);

    gap: 15px;

    margin-bottom: 20px;
}

.card {
    background: white;
    padding: 20px;
    text-align: center;

    border-radius: 8px;
}

.card p {
    font-size: 30px;
    font-weight: bold;
}

.form-section {
    background: white;
    padding: 20px;
    margin-bottom: 20px;

    border-radius: 8px;
}

form {
    display: grid;
    gap: 10px;
}

input,
select,
textarea,
button {
    padding: 10px;
    font-size: 15px;
}

textarea {
    min-height: 100px;
}

button {
    border: none;
    cursor: pointer;
    background: #222;
    color: white;
    border-radius: 4px;
}

.secondary {
    background: #777;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background: #eee;
}

.login-container {
    max-width: 400px;
    margin: 100px auto;

    background: white;
    padding: 30px;

    border-radius: 8px;
}

.login-container form {
    display: grid;
    gap: 15px;
}

#searchInput,
#statusFilter,
#priorityFilter {
    margin-bottom: 20px;
}

@media (max-width: 800px) {

    .dashboard {
        grid-template-columns:
            repeat(2, 1fr);
    }

    table {
        font-size: 12px;
    }

}